
.login-modal {
}
.login-modal-body {
  background-color: white;
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
}
.login-text {
  padding-top: 64px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #14B071;
}
.login-github {
  text-align: center;
}
.login-modal-btn {
  background-color: white;
  width: 265px;
  height: 56px;
  border-radius: 28px;
  border: 1px solid #14B071;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #2A292B;
  margin-bottom: 80px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}
.login-modal-btn:hover {
  background-color: #14B071;
  color: white;
}
