.summary-card {
  width: 25%;
  height: 96px;
  opacity: 1;
  background: #f6f6f6;
  border-radius: 12px;
  padding: 0 20px;
  margin-right: 25px;
}

.summary-card:last-of-type {
  margin-right: 0;
}

.summary-card > .title {
  display: flex;
  padding: 20px 0 12px;
  color: #616460;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: 16px;
  font-size: 12px;
}

.summary-card > .data {
  text-align: left;
  color: #3f3f3f;
  line-height: 28px;
  font-size: 20px;
  font-weight: 700;
}
