.dashboard {
  background: #EFF2F5;
  position: absolute;
  top: 60px;
  bottom: 0px;
  width: 100%;
}
.sider {
  width: 180px;
  padding: 13px 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  box-shadow: 4px 8px 15px 0px rgba(149, 156, 182, 0.15);
  background-color: white;
}
.sider .project-list {
  background-color: white;
}
.sider .project-item {
  cursor: pointer;
  font-size: 12px;
  height: 43px;
  display: flex;
  align-items: center;
  padding-right: 14px;
  padding-left: 20px;
}
.sider .project-item-active, .sider .project-item:hover {
  color: white;
  background-color: #38CA9E;
  border-left: 5px solid #2EA772;
  padding-left: 15px;
}
.sider .project-item img {
  height: 25px;
  width: 25px;
  margin-right: 25px;
}

.project-item-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-counts {
  margin-left: 5px;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  color: white;
  background: #FA6400;
}

.content {
  /* padding-left: 10.4%; */
  padding-left: 180px;
  padding-top: 30px;
  height: 100%;
  overflow-y: auto;
}