.dashboard {
  background: #f6f6f6;
  margin-top: 60px;
  padding: 20px 20px 100px 20px;
  display: flex;
}
.sider {
  width: 260px;
  float: left;
  margin-right: 20px;
}

.sidebar-title {
  height: 60px;
  border-radius: 50%;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
  font-weight: 500;
  color: #7c7e7c;
}

.sidebar-title.active {
  background: #e8e8e8;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: #3f3f3f;
}

.sidebar-title:hover {
  color: #3f3f3f;
}

.sidebar-title > svg {
  margin-right: 16px;
}
.sider .project-list {
  /* background-color: white; */
}
.sider .project-item {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  height: 44px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 56px;
  color: #7c7e7c;
}

.sider .project-item.active::before {
  content: '';
  position: absolute;
  top: 18px;
  left: 26px;
  width: 8px;
  height: 8px;
  opacity: 1;
  background: #14b071;
  border-radius: 50%;
}

.sider .project-item.suspend::before {
  content: '';
  position: absolute;
  top: 18px;
  left: 26px;
  width: 8px;
  height: 8px;
  opacity: 1;
  background: #df3d4b;
  border-radius: 50%;
}

.sider .project-item {
  font-size: 12px;
  font-weight: 500;
  color: #7c7e7c;
}

.sider .project-item-active {
  color: #3f3f3f;
  background-color: #e8e8e8;
  border-radius: 22px;
  font-weight: bold;
}
.sider .project-item:hover {
  transform: scale(1.1);
  border-radius: 22px;
  transition: all 0.2s;
}
.sider .project-item img {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  border-radius: 50%;
}
.sider .chain-type {
  margin-bottom: 12px;
}
.sider .chain-type-title {
  height: 44px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}
.sider .chain-type svg {
  margin-right: 16px;
}
.sider .chain-type .category-title {
  font-size: 15px;
  flex: 1;
}

.sider .chain-type .category-title.active {
  color: #3f3f3f;
  font-weight: bold;
}

.sider .chain-type img {
  transform: scaleY(-1);
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.project-item-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-counts {
  color: #7c7e7c;
}

.content {
  flex: 1;
  min-width: 960px;
}
