.dashboard {
  background: #EFF2F5;
  position: absolute;
  top: 60px;
  bottom: 0px;
  width: 100%;
}
.sider {
  width: 240px;
  padding: 9px 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  box-shadow: 4px 8px 15px 0px rgba(149, 156, 182, 0.15);
  background-color: white;
}
.sider .project-list {
  background-color: white;
}
.sider .project-item {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  height: 51px;
  display: flex;
  align-items: center;
  padding-right: 30px;
  padding-left: 40px;
}
.sider .project-item-active, .sider .project-item:hover {
  color: white;
  background-color: #14B071;
}
.sider .project-item img {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.project-item-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.project-counts {
  margin-left: 5px;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #14B071;
  background: white;
}
.project-counts-default {
  color: white;
  background: #14B071;
}

.project-counts-active {
  color: #14B071;
  background: white;
}

.content {
  /* padding-left: 10.4%; */
  padding-left: 240px;
  padding-top: 30px;
  height: 100%;
  overflow-y: auto;
}