.create-project-modal {
  height: 230px;
  background: #F8F8F8;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px; 
}
.create-project-modal-title {
  text-align: center;
  line-height: 50px;
  font-weight: 500;
  font-size: 16px;
  color: #4A4A4A;
  height: 50px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2), 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 0px 0px;
}
.create-project-modal-body {
  padding: 0px 80px;
  height: 130px;
}
.create-project-modal .project-name {
  padding-top: 37px;
  font-size: 12px;
  color: #666666;
  font-weight: 400;
}
.create-project-modal .project-input input {
  margin-top: 8px;
  width: 75px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 8px;
  width: 280px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #4A90E2;
}

.create-project-modal-footer {
  padding-top: 8px;
  text-align: center;
  height: 50px;
  background: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
}
.cancel-margin-right {
  margin-right: 16px;
}