.Home {
  width: 100%;
  height: auto;
  padding-top: 60px;
  overflow: hidden;
}

.Home_banner {
  width: 100%;
  height: 622px;
  padding-left: 219px;
  padding-right: 219px;
  /* background-color: #232324; */
  background: url(../../assets/home-banner.png) #232324 center;
  overflow: hidden;
}

.banner_title1 {
  margin: 150px 0 20px 0;
  font-size: 50px;
  color: #39CA9F;
  letter-spacing: 0.38px;
  text-align: left;
}
.banner_title1 span {
  color: #FA6400;
}
.banner_title2 {
  line-height: 25px;
  width: 573px;
  font-size: 18px;
  color: #FFFFFF;
  text-align: left;
}

.service_btn {
  width: 186px;
  height: 66px;
  background-image: url("../../assets/button-bg.svg");
  background-size: 100% 100%;
  margin-top: 80px;
  font-size: 14px;
  color: white;
  text-align: center;
  line-height: 66px;
  cursor: pointer;
  transition: .3s;
}

.service_btn:hover {
  opacity: 0.75;
}
.service_btn_service {
  margin: 32px auto ;
}
.countup-wrap {
  text-align: center;
}
.countup {
  font-weight: 300;
  height: 78px;
  min-width: 160px;
  margin: 0px auto;
  background-image: url("../../assets/title-bg.png");
  color: white;
  position: relative;
  top: -17px;
  background-size: 100% 100%;
  padding: 13px 24px;
  background-repeat: no-repeat;
  display: inline-block;
}
.countup-title {
  text-align: left;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
}
.countup-counts {
  height: 33px;
  line-height: 33px;
  text-align: left;
  font-size: 24px;
  letter-spacing: 2px;
}
.Home_banner h6 {
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  margin: 130px 0 30px 0;
}

.Home_banner h2 {
  font-size: 50px;
  color: #39CA9F;
  letter-spacing: 0.38px;
  text-align: center;
}

.product {
  background-image: url("../../assets/advantage-bg.webp");
  background-size: 100% 100%;
  background-color: rgb(27, 34, 74);
  background-repeat: no-repeat;
  width: 100%;
  height: 566px;
  padding-top: 48px;
}

.title_holder {
  text-align: center;
}
.title_holder img {
  width: 440px;
}
/* .area_title {
  height: 78px;
  min-width: 188px;
  line-height: 78px;
  display: inline-block;
  font-size: 40px;
  color: white;
  text-align: center;
  background-image: url("../../assets/title-bg.png");
  background-size: 100% 100%;
  padding: 0px 15px;
  font-size: 26px;
  font-weight: 600;
} */
.product_ul_holder {
  text-align: center;
}
.product_ul {
  margin-top: 32px;
  display: inline-flex;
}

.product_ul li {
  padding: 24px 16px;
  width: 230px;
  height: 342px;
  text-align: left;
  color: white;
  background-color: #1D2B56;
  margin-right: 10px;
  border-radius: 8px;
}
.product_ul li:last-child {
  margin-right: 0px;
}
.product_ul li img {
  width: 60px;
  height: 60px;
}
.product_ul li h4 {
  font-weight: 500;
  font-size: 18px;
  margin: 12px 0px;
  color: #FA6400;
}

.product_ul li p {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}
.service {
  width: 100%;
  height: 588px;
  background-image: linear-gradient(270deg, rgba(31, 47, 101, 0.13) 0%, rgba(0, 188, 221, 0.08) 100%), url("../../assets/servie-bg.webp");
  background-size: 100% 100%;
  padding-top: 48px;
  overflow: hidden;
}

.service_ul_holder {
  text-align: center;
}
.service_ul {
  margin-top: 32px;
  display: inline-flex;
}

.service_ul li {
  flex: 1;
  width: 310px;
  height: 294px;
  margin-right: 10px;
  background: linear-gradient(180deg, #2B366B 0%, #122149 100%);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
}

.service_ul li:last-child {
  margin-right: 0px;
}

.service_ul li img {
  margin: 60px 0 50px 0;
}

.service_ul li p {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #FA6400;
  line-height: 25px;
}

.HomeFooter {
  width: 100%;
  height: 398px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../assets/footer.webp");
  background-size: 100% 100%;
  background-color: rgb(24, 35, 72);
  overflow: hidden;
  position: relative;
}

.HomeFooter ul {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  justify-content: space-between;
  height: 24px;
  display: flex;
}
.HomeFooter ul li img {
  vertical-align: middle;
}
.HomeFooter ul li a {
  display: inline-block;
  font-size: 16px;
  color: #DFDFDF;
  margin-left: 8px;
  vertical-align: middle;
}