.Head_main {
  width: 100%;
  height: 60px;
  background-color: #1D2B56;
  box-shadow: 0px 2px 10px 1px #0E1D56;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.Head_auto {
  width: 92%;
  height: 100%;
  margin: 0 auto;
}

.Head_auto img {
  margin-top: 16px;
  width: 110px;
}

.Head_tabs_Ul {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
}

.Head_tabs_Ul li {
  flex: 1;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #BABABA;
  cursor: pointer;
}

.Head_tabs_Ul li a {
  color: #BABABA;
  font-size: 14px;
}

.Head_tabs_Ul li a:hover {
  color: #fff;
}

.Head_right_Ul {
  float: right;
  height: 60px;
  display: inline-flex;
}
.user_login {
  
}
.login_btn {
  color: white;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  margin-top: 15px;
  line-height: 28px !important;
  cursor: pointer;
  user-select: none;
}
.login_btn:hover {
  opacity: 0.9;
}
.login-modal {
  border-radius: 8px 8px 0px 0px;
}

.login-modal-title {
  text-align: center;
  height: 100px;
  padding: 25px 0px;
  position: relative;
  background: linear-gradient(135deg, #2B2A55 0%, #301D56 100%);
  box-shadow: 0px 1px 10px -3px #00223C;
  border-radius: 8px 8px 0px 0px;
}
.login-modal-title-img {
  height: 50px;
}
.login-modal-close {
  cursor: pointer;
  position: absolute;
  left: 410px;
  top: 6px;
}
.login-modal-body {
  background-color: white;
  height: 300px;
  border-radius: 0px 0px 8px 8px;
}
.login-text {
  font-size: 16px;
  height: 66px;
  line-height: 22px;
  text-align: center;
  padding: 24px 0px 20px 0px;
  color: #000;
}
.login-github {
  text-align: center;
}
.login-modal-btn {
  width: 140px;
  height: 40px;
  background-color: #FA6400;
  border-radius: 2px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.17);
  margin: 32px auto 0px auto;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}
.login-modal-btn:hover {
  opacity: 0.9;
}
.login-modal-btn:active {
  opacity: 0.7;
}
.Head_right_Ul li a {
  color: #BABABA;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #BABABA;
}

.Head_right_Ul li a:hover {
  color: #fff;
}

.menuTitle {
  width: 172px;
}

.menuTitle p {
  font-size: 12px;
  color: #232323;
  line-height: 12px;
  margin-top: 10px;
}

.menuTitle h3 {
  font-size: 16px;
  color: #39CA9F;
  line-height: 16px;
  margin: 10px 0;
}

.PHover {
  display: inline-block;
  margin-left: 16px;
  width: 100%;
  line-height: 60px !important;
}

.signOut {
  width: 100%;
  height: 56px;
  padding-top: 20px;
  box-sizing: border-box;
  border-top: 1px solid #DFDFDF;
}

.signOut span {
  display: inline-block;
  margin-left: 10px;
}

.user_dropdwon {
    width: 100px;
    height: 36px;
    background: #39CA9F;
    border-radius: 18px;
    margin-top: 18px;
    line-height: 34px !important;
}

.user_dropdwon a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #000 !important;
}

/* .user_dropdwon :hover a {
    color: #fff !important;
} */

.login-modal-wrap .ant-modal-content {
  /* border-radius: 8px; */
  background-color: rgba(0, 0, 0, 0);
}
.login-modal-wrap .ant-modal-body {
  /* border-radius: 8px; */
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
  height: 380px;
}