.head-main {
  width: 100%;
  height: 60px;
  background-color: #1D2B56;
  box-shadow: 0px 2px 10px 1px #0E1D56;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.head-auto {
  width: 92%;
  height: 100%;
  line-height: 100%;
  margin: 0 auto;
  display: flex;
}
.head-auto .logo {
  width: 101px;
  height: 38px;
}
.head-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.head-tabs {
  height: 100%;
  display: inline-flex;
}
.tab-title-bottom {
  height: 5px;
  border-radius: 3px;
  background-color: #FA6400;
  position: relative;
  top: -16px;
}

.head-tabs li {
  line-height: 60px;
  padding: 0px 28px;
  font-size: 16px;
  color: #BABABA;
}

.head-tabs li a {
  color: white;
  font-size: 14px;
  padding: 0px 5px;
}

.head-tabs li a:hover {
  color: #fff;
}

.head-right {
  float: right;
  height: 60px;
  display: inline-flex;
}
.login_btn {
  color: white;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  margin-top: 15px;
  line-height: 28px !important;
  cursor: pointer;
  user-select: none;
}
.login_btn:hover {
  opacity: 0.9;
}

.user-menu {
  background: #FFFFFF;
  box-shadow: 0px 8px 15px 0px rgba(149, 156, 182, 0.15);
  border: 1px solid #F5F5F5;
  padding: 12px 16px;
  width: 159px;
}
.user-menu-project-counts {
  margin-top: 16px;
}
.user-menu p {
  font-weight: 400;
  color: #999999;
  font-size: 12px;
  margin-bottom: 8px;
}

.user-menu h3 {
  font-size: 14px;
  color: #000000;
}
.user-menu .menu-split {
  margin: 16px 0px 12px 0px;
  height: 1px;
  background-color: #E7E7E7;
}
.user-menu-logout .sign-out {
  color: #FA6400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-menu-logout .sign-out img {
  margin-right: 8px;
}

.PHover {
  cursor: pointer;
  color: #FFFFFF;
  display: inline-block;
  width: 100%;
  line-height: 60px !important;
}


/* .user_dropdwon :hover a {
    color: #fff !important;
} */

