.head-main {
  width: 100%;
  height: 60px;
  padding: 0px 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  background: white;
  box-shadow: 0px 1px rgb(0 0 0 / 10%);
  display: flex;
  color: #3f3f3f;
  font-size: 16px;
}

.head-main .title {
  font-weight: 800;
  color: #3f3f3f;
  padding-left: 10px;
}

.head-content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  min-width: 700px;
}
.head-tabs {
  display: inline-flex;
  align-items: center;
}
.tab-title-bottom {
  height: 5px;
  border-radius: 3px;
  background-color: #14b071;
  position: relative;
  top: 5px;
}

.head-tabs li {
  padding: 0px 20px;
  line-height: 20px;
}

.head-tabs li:last-of-type {
  padding-right: 0;
}

.head-tabs li a {
  color: #3f3f3f;
  font-size: 15px;
  font-family: WorkSans;
  font-weight: 500;
}
.head-tabs li a:hover {
  color: #686868;
}

.head-right {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}
.login_btn {
  color: white;
  width: 110px;
  height: 36px;
  border-radius: 18px;
  text-align: center;
  line-height: 36px;
  background: #14b071;
  cursor: pointer;
  user-select: none;
}
.login_btn:hover {
  opacity: 0.9;
}

.user-menu {
  background: #ffffff;
  box-shadow: 0px 8px 15px 0px rgba(149, 156, 182, 0.15);
  padding: 12px 16px;
  width: 159px;
}
.user-menu-project-counts {
  margin-top: 16px;
}
.user-menu p {
  font-weight: 400;
  color: #999999;
  font-size: 12px;
  margin-bottom: 8px;
}

.user-menu h3 {
  font-size: 14px;
  color: #000000;
}
.user-menu .menu-split {
  margin: 16px 0px 12px 0px;
  height: 1px;
  background-color: #e7e7e7;
}
.user-menu-logout .sign-out {
  color: #ff3043;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-menu-logout .sign-out img {
  margin-right: 8px;
}
.language-icon {
  cursor: pointer;
}
