.head-main {
  width: 100%;
  height: 60px;
  background-color: #1D2B56;
  box-shadow: 0px 2px 10px 1px #0E1D56;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}

.head-auto {
  width: 92%;
  height: 100%;
  line-height: 100%;
  margin: 0 auto;
  display: flex;
}
.head-auto .logo {
  width: 101px;
  height: 38px;
}
.head-content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.head-tabs {
  height: 100%;
  display: inline-flex;
}

.head-tabs li {
  line-height: 60px;
  padding: 0px 28px;
  font-size: 16px;
  color: #BABABA;
}

.head-tabs li a {
  color: white;
  font-size: 14px;
}

.head-tabs li a:hover {
  color: #fff;
}

.head-right {
  float: right;
  height: 60px;
  display: inline-flex;
}
.login_btn {
  color: white;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 2px;
  width: 100px;
  height: 30px;
  margin-top: 15px;
  line-height: 28px !important;
  cursor: pointer;
  user-select: none;
}
.login_btn:hover {
  opacity: 0.9;
}
.login-modal {
  border-radius: 8px 8px 0px 0px;
}

.login-modal-title {
  text-align: center;
  height: 100px;
  padding: 25px 0px;
  position: relative;
  background: linear-gradient(135deg, #2B2A55 0%, #301D56 100%);
  box-shadow: 0px 1px 10px -3px #00223C;
  border-radius: 8px 8px 0px 0px;
}
.login-modal-title-img {
  height: 50px;
}
.login-modal-close {
  cursor: pointer;
  position: absolute;
  left: 410px;
  top: 6px;
}
.login-modal-body {
  background-color: white;
  height: 300px;
  border-radius: 0px 0px 8px 8px;
}
.login-text {
  font-size: 16px;
  height: 66px;
  line-height: 22px;
  text-align: center;
  padding: 24px 0px 20px 0px;
  color: #000;
}
.login-github {
  text-align: center;
}
.login-modal-btn {
  width: 140px;
  height: 40px;
  background-color: #FA6400;
  border-radius: 2px;
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.17);
  margin: 32px auto 0px auto;
  text-align: center;
  line-height: 40px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}
.login-modal-btn:hover {
  opacity: 0.9;
}
.login-modal-btn:active {
  opacity: 0.7;
}

.menuTitle {
  width: 172px;
}

.menuTitle p {
  font-size: 12px;
  color: #232323;
  line-height: 12px;
  margin-top: 10px;
}

.menuTitle h3 {
  font-size: 16px;
  color: #39CA9F;
  line-height: 16px;
  margin: 10px 0;
}

.PHover {
  color: #FFFFFF;
  display: inline-block;
  margin-left: 16px;
  width: 100%;
  line-height: 60px !important;
}


/* .user_dropdwon :hover a {
    color: #fff !important;
} */

.login-modal-wrap .ant-modal-content {
  /* border-radius: 8px; */
  background-color: rgba(0, 0, 0, 0);
}
.login-modal-wrap .ant-modal-body {
  /* border-radius: 8px; */
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
  height: 380px;
}