.summary {
  width: 100%;
  background: #fff;
  padding: 20px;
}

.category {
  display: flex;
  justify-content: space-between;
}

.table-bar {
  display: flex;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 8px;
}

.total {
  flex: 1;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  color: #3f3f3f;
  line-height: 28px;
}

.total > .count {
  color: #14b071;
}

.summary-table table{
  border-spacing: 0 10px;
}

.summary-table td {
  vertical-align: middle;
}

.ant-table-small .ant-table-thead > tr > th {
  height: 48px;
  line-height: 48px;
  background: none !important;
  font-weight: 700;
  color: #3f3f3f;
}

.ant-table-wrapper {
  clear: unset;
}

.ant-table-tbody  {
  border-radius: 8px;
}

.ant-table-tbody > tr > td,
.ant-table-thead > tr > th {
  font-size: 12px;
  border-bottom: none;
  background: #F9F9F9 !important;
}

.ant-table-row {
  height: 56px;
}

.table-chain-item {
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
}

.table-chain-item img {
  margin-right: 4px;
  width: 16px;
  height: 16px;
      vertical-align: middle;
}

.table-status-item {
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: left center;
  padding-left: 16px;
}

.table-status-item.active {
  background-image: url('../../assets/active-icon.svg');
}

.table-status-item.suspend {
  background-image: url('../../assets/suspend-icon.svg');
}
