.projects {
  margin: 0px auto;
  padding: 20px 17px;
  width: 86.8%;
  height: 336px;
  background: #FFFFFF;
  box-shadow: 0px 8px 15px 0px rgba(149, 156, 182, 0.15);
  border-radius: 4px;
  border: 1px solid #E0E0E0;
}
.user-aside {
  width: 12.4%;
  background: #FFFFFF;
  box-shadow: 0px 8px 15px 0px rgba(149, 156, 182, 0.15);
  border: 1px solid #F5F5F5;
}