.projects {
  margin: 30px auto 0px auto;
  padding: 20px 17px;
  width: 86.8%;
  min-height: 336px;
  background: #FFFFFF;
  box-shadow: 0px 8px 15px 0px rgba(149, 156, 182, 0.15);
  border-radius: 4px;
  border: 1px solid #E0E0E0;
}
.add-project-btn {
  padding: 7px 8px;
}
.td-span-default {
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}
.td-span-active {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}
.td-op {
  text-decoration: underline;
  color: #14B071;
  margin-right: 10px;
  cursor: pointer;
}
.td-op:last-child {
  margin-right: 0px;
}
.user-aside {
  width: 12.4%;
  background: #FFFFFF;
  box-shadow: 0px 8px 15px 0px rgba(149, 156, 182, 0.15);
  border: 1px solid #F5F5F5;
}
thead[class="ant-table-thead"] tr{
  height: 30px !important;
  background: #F4F4F4 !important;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(0, 0, 0, 0.09), 0px -1px 0px 0px rgba(0, 0, 0, 0.05) !important;
}
thead[class="ant-table-thead"] th{
  height: 30px;
}
tbody[class="ant-table-tbody"] tr:last-child {
  border: 0px solid white;
}
.projects .ant-table-row {
  cursor: pointer;
}