.numbers-container {
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
}

.numbers-box {
  width: auto;
  height: 50px;
  overflow-y: hidden;
}

.numbers-box span {
  display: block;
  color: #666;
  height: 550px;
}

.numbers-box span label {
  color: #3f3f3f;
  font-size: 32px;
  display: block;
  cursor: pointer;
}
.numbers-box span label:nth-child(1),
label:nth-child(2),
label:nth-child(3),
label:nth-child(4),
label:nth-child(5),
label:nth-child(6),
label:nth-child(7),
label:nth-child(8),
label:nth-child(9),
label:nth-child(10) {
  padding-top: 0rem;
}
