@import '~antd/dist/antd.css';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.ant-btn-primary {
	background: #39CA9F;
	border-color: #39CA9F;
}


.ant-btn-primary:hover,
.ant-btn-primary:focus {
	color: #fff;
	background: #449e83;
	border-color: #449e83;
}

html,
body {
	/* min-width: 1200px; */
  /* background: #EFF2F5; */
}

.ant-layout.ant-layout-has-sider>.ant-layout,
.ant-layout.ant-layout-has-sider>.ant-layout-content {
	overflow-x: hidden;
}
input, button {
  outline: none;
}
.ant-spin-dot-item{
	background: #39CA9F;
}
.modal-button {
  font-size: 12px;
  line-height: 17px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 6px 21px;
  border-radius: 2px;
}
.modal-button:hover {
  opacity: 0.9;
}
.modal-button:active {
  opacity: 0.8;
}
.modal-button-default {
  min-width: 88px;
  border: 1px solid #14B071;
  background-color: white;
  color: #2CA26E;
}
.modal-button-active {
  min-width: 88px;
  color: white;
  background: #14B071;
  border-width: 0px;
}