body {
  margin: 0;
  font-family: PingFang SC, WorkSans !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes leftEnter {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}

@keyframes rightEnter {
  0% {
    right: -300px;
  }
  100% {
    right: 0px;
  }
}