.project-detail {
  margin: 0px auto;
  width: 86.8%;
}
.project-card {
  height: 336px;
  background: #FFFFFF;
  box-shadow: 0px 8px 15px 0px rgba(149, 156, 182, 0.15);
  border-radius: 4px;
  border: 1px solid #E0E0E0;
  padding: 23px 24px;
}
.card-h2 {
  font-size: 18px;
  font-weight: 400;
  color: #454458;
}
.methods-call-h2 {
  text-align: center;
}
.project-status {
  margin-bottom: 20px;
}
.project-30days-request {
  height: 428px;
  margin-bottom: 16px;
}
.project-30days-bandwidth {
  margin-bottom: 9px;
  height: 428px;
  display: flex;
}
.project-30days-bandwidth .bandwidth {
  width: 62%;
}
.methods-call {
  flex: 1;
}